<a href="https://colab.research.google.com/github/pu2-source/MSSP607/blob/main/participation_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/parsed.csv')
japanqk = df[(df['parsed_place'].str.contains('Japan')) & (df['magType'] == 'mb')]

japanqk['mag'].quantile(0.95)

np.float64(4.9)

In [ ]:
indonesiaqk = df[df['parsed_place'].str.contains('Indonesia', na=False)]
indonesiatsu = indonesiaqk[indonesiaqk['tsunami'] == 1]
len(indonesiatsu) / len(indonesiaqk) * 100

23.12925170068027

In [ ]:
nevadaqk = df[df['parsed_place'].str.contains('Nevada', na=False)]
summary = nevadaqk.describe()
print(summary)

             cdi        dmin       felt         gap         mag   mmi  \
count  15.000000  681.000000  15.000000  681.000000  681.000000  1.00
mean    2.440000    0.166199   2.400000  153.668120    0.500073  2.84
std     0.501142    0.166228   4.626013   68.735302    0.696710   NaN
min     2.000000    0.001000   1.000000   29.140000   -0.500000  2.84
25%     2.000000    0.053000   1.000000   97.380000   -0.100000  2.84
50%     2.200000    0.112000   1.000000  149.140000    0.400000  2.84
75%     2.900000    0.233000   1.000000  199.720000    0.900000  2.84
max     3.300000    1.414000  19.000000  355.910000    2.900000  2.84

              nst         rms         sig          time  tsunami     tz  \
count  681.000000  681.000000  681.000000  6.810000e+02    681.0  681.0
mean    12.618209    0.151986   10.970631  1.538314e+12      0.0 -480.0
std      9.866963    0.084662   19.607150  5.965637e+08      0.0    0.0
min      3.000000    0.000500    0.000000  1.537247e+12      0.0 -480.0
25%      6.000000    0.106900    0.000000  1.537854e+12      0.0 -480.0
50%     10.000000    0.146300    2.000000  1.538280e+12      0.0 -480.0
75%     16.000000    0.187100   12.000000  1.538821e+12      0.0 -480.0
max     61.000000    0.863400  129.000000  1.539461e+12      0.0 -480.0

            updated
count  6.810000e+02
mean   1.538402e+12
std    6.010951e+08
min    1.537307e+12
25%    1.537928e+12
50%    1.538428e+12
75%    1.538878e+12
max    1.539483e+12

In [7]:
def ring(place):
  if any (country in place for country in ['Bolivia', 'Chile', 'Ecuador', 'Peru', 'Costa Rica', 'Guatemala', 'Mexico', 'Japan', 'Philippines', 'Indonesia', 'New Zealand', 'Antarctica' , 'Canada', 'Fiji', 'Alaska', 'Washington', 'California', 'Russia', 'Taiwan', 'Tonga', 'Kermadec Islands']):
    return True
  else : return False

df['ringfire'] = df['parsed_place'].apply(ring)

In [12]:
df['ringfire'].value_counts()

ringfire
True     7185
False    2147
Name: count, dtype: int64